<!-- Navbar -->

<div class="navbar">
  <div class="logo">TechShoes</div>
  <div class="menu">
    <ng-container *ngIf="!usuarioLogado; else logado">
      <a routerLink="/login">Entrar</a>
      <a routerLink="/register">Registrar</a>
    </ng-container>
    <ng-template #logado>
      <span class="msg-logado-usuario">Olá, {{ usuarioLogado?.nomeCompleto }}</span>
      <button class="logout-btn" (click)="logout()">Sair</button>
    </ng-template>
  </div>
</div>

<!-- Banner -->

<div class="banner">
  <h1>BLACK NOVEMBER</h1>
  <p>Ofertas de outro mundo! Até <span class="highlight">70% OFF</span></p>
  <button class="shop-btn" (click)="usuarioLogado ? irParaHome() : irParaLogin()">Aproveitar agora</button>
</div>

<!-- Lista de produtos -->

<div class="product-list">
  <div class="product-card" *ngFor="let p of produtos">
    <img [src]="p.imagem" alt="{{ p.nome }}">
    <h3 style="color: #fdfdfd; font-weight: 600;">{{ p.nome }}</h3>
    <p class="price">R$ {{ p.preco | number:'1.2-2' }}</p>
    <button class="buy-btn" (click)="usuarioLogado ? irParaProduto(p.id) : irParaLogin()">Ver produto</button>
  </div>
</div>

<!-- Footer -->

<footer>
  <p>© 2025 TechShoes - Todos os direitos reservados.</p>
</footer>
